
@{
    ViewBag.Title = "CommentStatistical";
    Layout = "~/Areas/Backend/Views/Shared/Backend.cshtml";
}
@using CNW_N8_MVC.Class;
@{ var cmt_list = ViewData["listCmt"] as IEnumerable<BE_CommentStatistical>;}
@{ var list_search = ViewData["listSearch"] as IEnumerable<BE_CommentStatistical>;}
@{ var f_date = ViewData["f_date"] as String;}
@{ var t_date = ViewData["t_date"] as String;}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-align-justify"></i> Danh sách Bình Luận</div>
            <div class="card-body">
                <label>Chọn ngày : </label>
                <form method="get" action="/BackendStatistical/SearchComment">
                    <input type="date" id="from_date" name="from_date" value="@f_date"/>
                    <input type="date" id="to_date" name="to_date" value="@t_date"/>
                    <button id="btnSubmit" class="btn btn-sm btn-primary" type="submit"> Submit</button>
                </form>
                <form method="get" action="/BackendStatistical/Export">
                    <button id="btnExport" class="btn btn-sm btn-primary" type="submit"> Export</button>
                </form>
                <table class="table table-responsive-sm">
                    <thead>
                        <tr>
                            <th>Tên Khách Sạn</th>
                            <th>Tên người dùng</th>
                            <th>Nội Dung</th>
                            <th>Thời Gian</th>
                            <th> </th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (list_search.Count() == 0)
                        {
                            foreach (var it in cmt_list)
                            {
                                <tr>
                                    <td>@it.Hotel_name</td>
                                    <td>@it.Username</td>
                                    <td>@it.Content</td>
                                    <td>@it.Time_comment.Split(' ')[0]</td>
                                </tr>
                            }



                        }
                        else
                        {
                            foreach (var it in list_search)
                            {
                                <tr>
                                    <td>@it.Hotel_name</td>
                                    <td>@it.Username</td>
                                    <td>@it.Content</td>
                                    <td>@it.Time_comment.Split(' ')[0]</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

