
@{
    ViewBag.Title = "OrderStatistical";
    Layout = "~/Areas/Backend/Views/Shared/Backend.cshtml";
}
@using CNW_N8_MVC.Class;
@{ var orders = ViewData["orders"] as IEnumerable<BE_OrderStatistical>;}
@{ var list_order = ViewData["list_order"] as IEnumerable<BE_OrderStatistical>;}
@{ var f_date = ViewData["f_date"] as String;}
@{ var t_date = ViewData["t_date"] as String;}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-align-justify"></i> Danh sách Hoá Đơn Đặt</div>
            <div class="card-body">
                <form method="get" action="/BackendStatistical/SearchOrder">
                    <label>Chọn ngày : </label>
                    <input type="date" id="from_date" name="from_date" value="@f_date"/>
                    <input type="date" id="to_date" name="to_date" value="@t_date"/>
                    <button id="btnSubmit" class="btn btn-sm btn-primary" type="submit"> Submit</button>
                </form>
                <form method="get" action="/BackendStatistical/ExportOrder">
                    <button id="btnExport" class="btn btn-sm btn-primary" type="submit"> Export</button>
                </form>
                <table class="table table-responsive-sm">
                    <thead>
                        <tr>
                            <th>Mã Hoá Đơn</th>
                            <th>Tên người dùng</th>
                            <th>Tổng hoá đơn</th>
                            <th>Thời Gian</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (list_order.Count() == 0)
                        {
                            foreach (var it in orders)
                            {
                                <tr>
                                    <td>@it.Booking_id</td>
                                    <td>@it.Full_name</td>
                                    <td>@it.Total_booking_price</td>
                                    <td>@it.Time_booking.Split(' ')[0]</td>
                                    <td>@it.Payment_status</td>
                                </tr>
                            }
                        }
                        else
                        {
                            foreach (var it in list_order)
                            {
                                <tr>
                                    <td>@it.Booking_id</td>
                                    <td>@it.Full_name</td>
                                    <td>@it.Total_booking_price</td>
                                    <td>@it.Time_booking.Split(' ')[0]</td>
                                    <td>@it.Payment_status</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

